.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  min-height: 100vh;
}

.vercelLogo {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  width: 100%;
  margin-bottom: 1rem;
  /* border: dashed violet; */
}

.card {
  color: white;
  display: grid;
  grid-template: 'titulo info'
    'icono icono'
    'ingredientes '
    'info';
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(215, 150, 98, 0.6);
  align-items: start;
  width: 100%;
  /* border: dashed green; */
}

.card h4 {
  font-style: italic;
  font-weight: normal;
  color: rgb(209, 112, 33);
  margin-top: 1rem;
}

.card h3 {
  grid-area: 'info';
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.card h2 {
  color: rgb(var(--foreground-rgb), 100);
  grid-area: 'titulo';
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  grid-area: 'ingredientes';
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.icono {
  grid-area: 'icono';
  display: flex;
  justify-content: center;
}


.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1rem;
  position: relative;
  /* border: dashed blue; */
  width: 100%;
}

.center h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.logo {
  position: relative;
  height: auto;
  width: 5rem;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: rgba(215, 150, 98, 0.4);
  /* border: dashed orange; */
  width: 100%;
  margin: 1rem 0 1rem 0;
}

@media (min-width: 901px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, auto);
  }
}

/* Mobile */
@media (min-width: 581px) and (max-width: 700px) {
  .main {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
    max-width: auto;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .vercelLogo {
    width: 8vh;
    height: 8vh;
  }
}

@media (max-width: 580px) {
  .center {
    padding: 3rem 0 2rem;
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .logo {
    width: 5rem;
    height: 5rem;
  }

  .images {
    max-height: 7rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
  }

}